<input #newProdukt
       (keyup.enter)="addProdukt(newProdukt.value)"       >
<input #numberOfProducts>

<button (click)="addProdukt(newProdukt.value)">Add</button>
<button (click)="callall(newProdukt.value, numberOfProducts.value)">all</button>

<div>
  <ul>
    <li *ngFor="let produkt of produkten" (click)="changeStatus(produkt)" [class]="produkt.isActive ? 'active' : 'inactive'">
      <div>{{produkt.name}}</div>
    </li>
  </ul>
</div>

<button (click)="addListe()">Fertig</button>


<ul><li *ngFor="let list of listen">{{list}}</li> </ul>
