h1 {
  text-align: center;
}

.header {
  background-color: #3399CC;
  padding: 20px;
  text-align: center;
  position: relative;
  color: white;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
}
