<div class="header">
  <h1>{{title}}</h1>
</div>


<div class="mainContainer">
  <app-create-list></app-create-list>
</div>


<div class="footer">
  <div class="row">
    <div class="column left">
      <div class="textAround">
        <p style="border-style:solid; border-width:1px; padding:10px; border-left:none; border-right:none; margin-bottom:15px;">ANSTEHENDE SCHULUNGEN UND WORKSHOPS</p>
      </div>
    </div>
    <div class="column middle">
      <p style="border-style:solid; border-width:1px; padding:10px; border-left:none; border-right:none; margin-bottom:15px;">SIMPLYTEST GMBH</p>
      <p>Obermaierstraße 18</p>
      <p>90408 Nürnberg</p>
      <br>
      <p>Telefon: +49 (0)911 37396700</p>
      <p>Mail: info@simplytest.de</p>
    </div>
    <div class="column right">
      <p style="border-style:solid; border-width:1px; padding:10px; border-left:none; border-right:none; margin-bottom:15px;">Unternehmen</p>
      <img id="simplyTest" src="simplyTest.png" width="1" height="1">
      <br>
      <a href="https://simplytest.de/impressum/">Impressum</a>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
