<div *ngIf="fakeElement">
  Name of the Product
  <input #newProdukt
         (keyup.enter)="addProdukt(newProdukt.value, numberOfProducts.value)">    Count
  <input #numberOfProducts>
  <button (click)="addProdukt(newProdukt.value, numberOfProducts.value)">Add</button>
</div>

<div>
  <table *ngIf="productList">
    <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let product of productList.liste" (click)="changeStatus(product, productList)" [class]="product.isActive ? 'active' : 'inactive'">
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.numberOfItems}}
      </td>
    </tr>
  </table>
</div>

<div *ngIf="fakeElement">
  <app-list-saver [productList]="productList" [headers]="headers" [changeStatus]="changeStatus"></app-list-saver>
</div>



