<div *ngIf="fakeElement" id="nameOfTheProduct">
  Name of the Product
  <input id="newProductName" #newProduct 
         (keyup.enter)="addProduct(newProduct.value, numberOfProducts.value)">     Count
  <input id="newNumberOfProducts" #numberOfProducts>
  <button id="addNewProduct" (click)="addProduct(newProduct.value, numberOfProducts.value); newProduct.value=''; numberOfProducts.value = ''">Add</button>
</div>

<div>
  <table *ngIf="productList">
    <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let product of productList.liste" (click)="changeStatus(product, productList)" [class]="product.isActive ? 'active' : 'inactive'">
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.numberOfItems}}
      </td>
    </tr>
  </table>
</div>

<div *ngIf="fakeElement">
  <app-list-saver [productList]="productList" [headers]="headers" [changeStatus]="changeStatus"></app-list-saver>
</div>



