<div *ngIf="fakeElement" id="nameOfTheProduct" class="tab">
  Name of the Product
  <input id="newProductName" #newProduct 
         (keyup.enter)="addProduct(newProduct.value, numberOfProducts.value)" placeholder="Enter name of the product">Count
  <input id="newNumberOfProducts" #numberOfProducts placeholder="Enter number of products">
  <button class="button" id="addNewProduct" (click)="addProduct(newProduct.value, numberOfProducts.value); newProduct.value=''; numberOfProducts.value = ''">Add <i class="fas fa-plus-circle"></i></button>
</div>

<div class="tablePositioning" *ngIf="productList">
  <table id="products" class="center">
    <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let product of productList.liste" (click)="changeStatus(product, productList)" [class]="product.isActive ? 'active' : 'inactive'">
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.numberOfItems}}
      </td>
    </tr>
  </table>
</div>

<div *ngIf="fakeElement">
  <app-list-saver [productList]="productList" [headers]="headers" [changeStatus]="changeStatus" [newProduct] ="newProduct" [numberOfProducts] ="numberOfProducts"></app-list-saver>
</div>



