
.mainContainer {
  flex: 1 0 auto;
  width: 100%;
  margin-bottom: 400px;
  /*  position: relative;*/
  height: auto;
}

.footer {
  background-color: #2388c2;
  padding: 10px;
  text-align: center;
  left: 0;
  width: 100%;
  margin-top: auto;
  bottom: 0;
  height: 250px;
  /*  position: sticky;*/
  flex-shrink: 3;
}

p {
  color: white;
}

.container {
  height: 50px;
  position: relative;
}

.column {
  float: left;
}

  .column.left {
    width: 25%;
  }

  .column.right {
    margin-left: 10em;
    width: 25%;
  }

  .column.middle {
    margin-left: 10em;
    width: 30%;
  }

h3 {
  color: white;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#simplyTest {
  width: 400px;
  height: 100px;
}
